<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>[[${title}]]</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/generate}">Сгенерировать значения</a></li>
                <li><a th:href="@{/students}">Показать Таблицу</a></li>
                <li><a th:href="@{/firstTask}">Задание №1</a></li>
                <li><a th:href="@{/secondTask}">Задание №2</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Вариант №13 - Специально для ДонНТУ</h1>
        <article>
            <h2>Задание 1</h2>
            <p>Удалить ID, значения которых не являются числом Фибоначчи</p>
        </article>
        <article>
            <h2>Задание 2</h2>
            <p>Найти все значения, surname которых начинается с буквы M</p>
        </article>
    </section>
</body>
</html>