<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/generate}">Сгенерировать значения</a></li>
                <li><a th:href="@{/students}">Показать Таблицу</a></li>
                <li><a th:href="@{/firstTask}">Удалить ID, значения которых не являются числом Фибоначчи</a></li>
                <li><a href="">Задание 2</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Вариант № - Специально для Одесского</h1>
        <h2>Задание 1 - </h2>
        <h2>Задание 2 - </h2>
    </section>
</body>
</html>